[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.68.1"
install = "*"
uvicorn = "==0.15.0"
sqlalchemy = "==1.4.23"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
